.body {
    background-color: rgb(53, 49, 49);
}

.orange-color {
    color: #ff8106;
}

.logo {
    border-radius: 50%;
    width: 8%;
    height: 6.5em;
}

.border-orange {
    border: 4px solid #ff8106;
    height: 28em;
    border-radius: 10px;
    background-color: white;
}

.button-submit {
    background-color: #ff8106;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px; 
}

.div-container {
    padding: 0em 0em;
}

.row {
    width: 45%;
}

